.grayscale {
  filter: grayscale(40%) contrast(100%) brightness(90%);
  transition: filter 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6); /* Darker shadow with more blur */
  color: #2D1044;
}

.grayscale:hover {
  filter: grayscale(0%) contrast(100%) brightness(100%);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8); /* Darker and larger shadow on hover */
}



