/* 3D Logo Hover Effect */
nav {
  background-color: #2D1044; /* Adjust opacity as needed */
}
.logo-morph {
  perspective: 1000px;
}

.logo-morph img {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.logo-morph:hover img {
  transform: rotateY(180deg);
}
.active {
  color: #d5a1ff;
}


.active-mobile {
  color: #390266;
}


.scrolled {
  background: #180725; /* More transparent on scroll */
}

/* Slide Down Animation for Mobile Menu */
.animate-slideDown {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveBorder {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 100% 0);
  }
}

@keyframes border-light-horizontal {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(calc(100vw)); }
}

@keyframes border-light-vertical {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(calc(100vh)); }
}

@keyframes border-light-horizontal-reverse {
  0% { transform: translateX(calc(100vw)); }
  100% { transform: translateX(-100%); }
}

@keyframes border-light-vertical-reverse {
  0% { transform: translateY(calc(100vh)); }
  100% { transform: translateY(-100%); }
}

.animate-border-light-horizontal {
  animation: border-light-horizontal 4s linear infinite;
}

.animate-border-light-vertical {
  animation: border-light-vertical 4s linear infinite;
  animation-delay: 1s;
}

.animate-border-light-horizontal-reverse {
  animation: border-light-horizontal-reverse 4s linear infinite;
  animation-delay: 2s;
}

.animate-border-light-vertical-reverse {
  animation: border-light-vertical-reverse 4s linear infinite;
  animation-delay: 3s;
}


